# command aliases

alias ls="ls --color"
alias nq="networkQuality -v"

# Neovim alias
alias n="nvim ."

# directory aliases

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias pd="cd -"

alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias spl="cd ~/Desktop/sprint_learning"
alias p="cd ~/Desktop/Projects"

# function commands

mkcd () {
	mkdir "$1"
	cd "$1"
}

run_tmux_sessionizer(){
	~/.config/tmux/scripts/tmux_sessionizer.zsh
}
alias a="run_tmux_sessionizer"

# directories to ignore while searching
toIgnore=(-name .git -prune -false -o -name node_modules -prune -false -o)
find_and_open_file_with_nvim() {
	local file=$(find ~/config_manager ~/Desktop/Projects ~/Desktop/sprint_learning "${toIgnore[@]}" -type f | fzf)
	[[ $file ]] && nvim "$file"
}
alias s="find_and_open_file_with_nvim"
