# temporary aliases

# command aliases

alias ls="ls --color -p"
alias nq="networkQuality -v"

# Neovim alias
alias n="nvim ."

# directory aliases

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias pd="cd -"

alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias spl="cd ~/Desktop/sprint_learning"
alias p="cd ~/Desktop/Projects"

# application(s) aliases

alias chrome="open -a 'google chrome'"

# function commands

mkcd () {
	mkdir "$1"
	cd "$1"
}
